/Library
/Temp
/Assets/Plugins
/Assets/image*
/Assets/Skin
/Assets/BGM
/Assets/Shatalmic*
/Assets/SimpleSpinner*
/Assets/Resources/GameData/**/?eatmap.txt*
/Assets/Resources/GameData/**/audio.mp3*
/Assets/Resources/GameData/**/**.wav*
/Assets/Resources/GameData/**/BG.jpg*
/Assets/Resources/GameData/**/image.png*

