/Library
/Temp
/Assets/Plugins
/Assets/Skin
/Assets/Shatalmic*
/Assets/Resources/**/?eatmap.txt*
/Assets/Resources/**/audio.mp3*
/Assets/Resources/**/BG.jpg*
/Assets/Resources/**/image.png*
Assets/Resources/Picnic Party.meta
Assets/Resources/Sample.meta
Assets/Resources/Tutorial.meta
Assets/Resources/Warm Up Groove.meta
